---
title: Anniversary Blogs
---
<div class="container mt-md-5 mt-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-5">
    {% for post in collections.blogs %}
      <div class="col">
        <a class="card-link" href="{{ post.url | url}}">
          <div class="card">
            <img src="{{ post.data.image.src | url }}" class="card-img-top" alt="{{ post.data.image.alt }}">
            <div class="card-body">
              <h5 class="card-title">{{ post.data.title }}</h5>
              <p class="card-text">{{ post.data.description }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
