---
title: MBA Anniversary HomePage
order: 0
eleventyComputed:
  tagline: '{{ "Strathclyde Business School" | i18N }}'
banner:
 image: ./images/static/Business-School-Building-2000x600.jpg
 alt: Photo shows a view of the front of the SBS building in Cathedral Street, Glasgow
 desc: Master of Business Administration
rowsx2: row row-cols-1 row-cols-md-2 g-4 mb-5
rowsx4: row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-5
rowsx6: row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4 mb-5
---
<div
  class="container-fluid has-bg-image"
  style="background-image: url('{{ base_path }}images/static/business-school.jpg'); border-top: 4px solid #ced4da;"
>
  <div class="container">
    <div class="row ngx-5">
      <div class="col-lg-4">
        <div class="bg-white p-4 my-4 confetti">
          <h2 class="mb-4">Welcome to our 60th Anniversary!</h2>
          <p>
            <strong
              >During 2026, Strathclyde Business School's Master of Business Administration (MBA) programme celebrates
              it's 60th Anniversary.</strong
            >
          </p>
          <p>
            To mark this milestone, we've created this commemorative site. Elit fames nibh morbi dolor pulvinar blandit
            bibendum. Pharetra mollis dapibus proin senectus vehicula. Justo iaculis massa sit et bibendum, congue
            posuere ultrices
          </p>
          <p>Each month, we'll unveil a new article inspired by our 60-Year MBA.</p>
          <p><a class="btn btn-secondary btn-lg disabled">See all previous features</a></p>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="bg-white p-4 my-4">
          <h3><i class="fa-regular fa-calendar"></i> January <small class="text-body-secondary">Headline</small></h3>
          <img src="./images/rottenrow.jpg" alt="Rottenrow Gardens pre business school">
          <p class="mt-3">
            Elit fames nibh morbi dolor pulvinar blandit bibendum. Pharetra mollis dapibus proin senectus vehicula.
            Justo iaculis massa sit et bibendum, congue posuere ultrices.
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="{% pageUrl './features/01.md' %}">Read the feature</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="container py-5">
    <div class="row">
      <div class="col-md">
        <h2 class="mb-4">An Established Business School</h2>

        <p>
          Management education in Glasgow took off in 1947 when the Royal College of Science and Technology founded its
          Department of Industrial Administration.
        </p>
        <p>
          The Glasgow School of Management followed in 1950, linking the college with the Glasgow and West of Scotland
          Commercial College. When both merged in 1964 to form the University of Strathclyde, a new School of Business
          and Administration emerged, quickly building a reputation for innovation and launching
          <strong>Scotland's first MBA in 1966</strong>.
        </p>

        <img class="d-md-none d-sm-block mb-sm-4" src="./images/old-school.jpg" alt="Old Photo">

        <p>
          In 1971, Strathclyde joined forces with other Scottish universities to create the Scottish Business School,
          paving the way for the founding of Strathclyde Business School in 1973.
        </p>
        <p>
          A restructuring in 1982 turned it into a full faculty, uniting business education under one banner and
          cementing Strathclyde's role as a pioneer of Scottish management education.
        </p>

        <p>
          <a class="btn btn-primary btn-lg mt-3" href="#timeline">See our timeline</a>
        </p>
      </div>

      <div class="col-md"><img class="d-sm-none d-md-inline" src="./images/old-school.jpg" alt="Old Photo"></div>
    </div>
  </div>
</div>

<div
  class="container-fluid has-bg-image"
  style="background-image: url('{{ base_path }}images/static/blue-teal-gradient.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white p-4 my-4">
        <div class="row">
          <div class="container my-4">
            <div class="row">
              <div class="col-md justify-content-center d-flex align-items-center">
                <img
                  class="testimonial-image mb-0 mb-sm-4"
                  alt="Picture of Shayan Anwar at graduation"
                  src="./images/testimonials/Shayan_Anwar_600x600px.jpg"
                >
              </div>
              <div class="col-md testimonial-border p-md-4">
                <div
                  class="mx-5"
                  style="background: url('{{ base_path }}images/static/open-quote.svg') top left / 100px no-repeat"
                >
                  <p class="h5 ms-4 pt-5">
                    <strong
                      >The University of Strathclyde is located in the heart of Glasgow, making student life rather
                      exuberant. Glasgow is a city with so much embedded culture and social diversity that it makes it
                      easier for you to make new friends and talk to people from various backgrounds.
                    </strong>
                  </p>

                  <p>
                    Shayan Anwar <br>
                    MSc Finance & Management
                  </p>

                  <a href="/courses/postgraduatetaught/financemanagement/shayananwar/" class="btn btn-primary btn-lg"
                    >More about Shayan's Strathlife</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg-white pt-4 p-md-4 my-md-4">
        <h2 class="mb-4">Has the MBA Changed?</h2>

        <h4 class="mb-4">Colin Eden Rejoins the Conversation 11 Years Later</h4>
        <p>
          In January 2014, <a href="https://www.strath.ac.uk/staff/edencolinprof/">Professor Colin Eden</a> then head of
          the SBS gave his personal views on the different aspects of MBA programmes and how these should be considered
          when making a choice of Business School.
        </p>

        <p>
          30,050 views later, Colin sits down with [somebody] to discuss how things may have changed 11 years later.
        </p>
      </div>
      <div class="col-md-6 p-md-4 my-md-4">
        {% youtube "b_gu-WtWoSM" %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid has-bg-image" style="background-image: url('{{ base_path }}images/static/landmarks.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg-white p-4 my-4">
        <h2>Many routes - one MBA</h2>
        <ul class="grey-block-button-list">
          <li>
            <a href="https://www.strath.ac.uk/courses/postgraduatetaught/mba/mba-fulltime/">Glasgow (full-time)</a>
          </li>
          <li>
            <a href="https://www.strath.ac.uk/courses/postgraduatetaught/mba/mba-parttime/"
              >Glasgow -&nbsp;Executive MBA (part-time)</a
            >
          </li>
          <li>
            <a href="https://www.strath.ac.uk/courses/postgraduatetaught/mba/mba-bahrain/"
              >Bahrain - Executive MBA (part-time)</a
            >
          </li>
          <li>
            <a href="https://www.strath.ac.uk/courses/postgraduatetaught/mba/mba-malaysia/"
              >Malaysia - Executive MBA (part-time)</a
            >
          </li>
          <li>
            <a href="https://www.strath.ac.uk/courses/postgraduatetaught/mba/mba-oman/"
              >Oman - Executive MBA (part-time)</a
            >
          </li>
          <li>
            <a href="https://www.strath.ac.uk/courses/postgraduatetaught/mba/mba-uae/"
              >UAE - Executive MBA (part-time)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-grey">
  <div class="container">
    <h3>MBA blogs 2021-2025</h3>
    <p>
      Our students frequently contribute guest articles to our blog. Below is a selection of posts focused on MBA
      topics.
    </p>

         <div class="{{ rowsx4 }}">
            {% for post in collections.blogs reversed limit: 4 %}
              <div class="col">
                <a class="card-link" href="{{ post.url | url }}">
                  <div class="card">
                    <img src="{{ post.data.image.src | url }}" class="card-img-top" alt="{{ post.data.image.alt }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ post.data.title }}</h5>
                      <p class="card-text">{{ post.data.description }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
        </div>

      <p><a class="btn btn-primary mt-4" href="{{ 'anniversary-blogs' | url }}">See all MBA focussed Blogs</a></p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container my-5">
    <h2 class="my-4">Triple-accredited business school</h2>

    <div class="row mt-2">
      <div class="col-md-4 mb-3">
        <a href="https://www.aacsb.edu/" target="_blank" rel="noopener">
          <span class="visually-hidden">AACSB accreditation logo</span>
          <img src="./images/logo-aacsb.webp" alt="AACSB accreditation logo" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="https://www.associationofmbas.com/business-schools/accreditation/" target="_blank" rel="noopener">
          <span class="visually-hidden">Association of MBAs Accredited logo</span>
          <img src="./images/logo-amba.webp" alt="Association of MBAs Accredited logo" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="https://efmdglobal.org/accreditations/business-schools/equis/" target="_blank" rel="noopener">
          <span class="visually-hidden">EQUIS accreditation logo</span>
          <img src="./images/logo-equis.webp" alt="EQUIS accreditation logo" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-grey">
  <div class="container">
    <h3 id="timeline">Our Timeline</h3>

    <p class="mb-5">
      Widely acknowledged for its innovation in business and management education, Strathclyde Business School has
      demonstrated pioneering developments across its undergraduate and postgraduate teaching.
    </p>

    <ul class="timeline-list mb-5">
      {% timeline 1796 "Useful Learning Legacy" %}
      The University was established in 1796 as
      <strong>'the place of useful learning'</strong>
      and this remains at the forefront of our vision today
      {% endtimeline %}

      {% timeline 1948 "Business Minds Shaped" %}
      The
      <strong>University of Strathclyde Business School</strong>
      is founded as a pioneering, internationally renowned academic organisation to shape and develop the business minds
      of tomorrow
      {% endtimeline %}

      {% timeline 1966 "Pioneering MBA Launched" %}
      First one year
      <strong>full time</strong>
      MBA in the UK launched at Strathclyde
      {% endtimeline %}

      {% timeline 1976 "MBA Flexibility First" %}
      First
      <strong>part-time</strong>
      MBA programme in the UK launched at Strathclyde
      {% endtimeline %}

      {% timeline 1983 "MBA Flexibility First. Again!" %}
      First
      <strong>flexible learning</strong>
      MBA in the UK launched at Strathclyde
      {% endtimeline %}

      {% timeline 1988 "International MBA Centres" %}
      Launched our first Master of Business Administration centre abroad, in Singapore; a second centre opened in Hong
      Kong in April 1989
      {% endtimeline %}

      {% timeline 2004 "Scotland's First Triple Accredited School" %}
      We become the first business school in Scotland to achieve triple accreditation from the three main accreditation
      bodies – AMBA, EQUIS and AACSB
      {% endtimeline %}

      {% timeline 2014 "Research Excellence Leader" %}
      In the Research Excellence Framework, we rated in the top 10 in the UK for our research, number one in Scotland on
      grade point average (GPA), 3rd in the UK for the impact of our research and achieved the highest possible rating
      for our research environment
      {% endtimeline %}

      {% timeline 2016 "Business School of the Year" %}
      Awarded THE Business School of the Year in UK
      {% endtimeline %}

      {% timeline 2019 "Business School of the Year. Again!" %}
      The University of Strathclyde becomes the first university to win the coveted University of the Year title twice
      {% endtimeline %}

      {% timeline 2021 "Strathclyde Business School UAE Campus" %}
      MBA UAE new campus opens. The programme maintains the same high standards as the UK campus while offering
      electives and networking opportunities globally.
      {% endtimeline %}

      {% timeline 2024 "Empowering Saudi Women" %}
      Strathclyde partners with Princess Nourah University to deliver STEM and Business education to Saudi women
      {% endtimeline %}
    </ul>
  </div>
</div>
